<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>

    <%- include('../layout/header') %>
        <main>
            <h2>Covid-19 Statistics For All Countries</h2>
            <div class="cardContainer">
                <div class="card">
                    <p> Country: <%=item.country %>
                    </p>
                    <p> Total Confirmed: <%=item.totalconfirmed %>
                    </p>
                    <p> Total Deaths: <%=item.totaldeaths %>
                    </p>
                    <p> Total Recovered: <%=item.totalrecovered%>
                    </p>
                    <p> Date: <%=item.date %>
                    </p>
                    <form action="/delete/<%=item.id%>?_method=delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </main>
        <%- include('../layout/footer') %>
</body>

</html>